@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
/*     font-family: 'Inria Sans', sans-serif;
        font-family: 'Inter', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}

.container {
    width:1080px;
    /* @media screen and (max-width : 320px) {
        width: 310px;
    }*/
    @media screen and (min-width : 320px) and (max-width : 1024px) {
        max-width: 1080px;
        margin: 0 20px;
    } 
}
body{
    position: relative;
    z-index: 1;
    color: white;
    min-height: 100vh;
    background-color: #191B20;
    @media screen and (max-width : 1200px) {
        min-height: 100vh;
        max-width: 100vw;
        overflow-x: hidden !important;
    }
}

/* -----------------header-------------------------------------------- */

header {
    background-color: #141517;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 73px;
    @media screen and (max-width : 850px) {
        max-width: 100vw;
        position: relative;
        margin-bottom: 15px;
    }
}
.header-nav {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width : 850px) {
        width: 100vw;
        position: absolute;
        left: 0;
        top: 25px;
        padding: 0 10px;
        align-items: center;
    }
}
.hamburger{
    display: none;
    @media screen and (max-width : 850px){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    }
}
.hamburger span {
    display: none;
    @media screen and (max-width : 850px) {
        position: absolute;
        font-size: 40px;
        font-family: 'Inria Sans', sans-serif;
        display: inline-block;
        align-self: center;
        justify-self: center;
        color: #FFF;
        right: 0px;
        top: -15px;
}
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.42px;
    font-weight: 700;
    @media screen and (max-width : 850px){
        display: none;
    }
    
}
.menu li {
    border-radius: 8px;
    background: transparent;
    padding: 7px 10px;
    flex-shrink: 0;
}
.menu li:hover{
    background: #C00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
h1{
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
h1:hover{
    cursor: pointer;
    transform: scale(102%);
    opacity: 0.9;
}
span{
    color: #C00 ;
}

/* -----------------Main----------------------------------------------- */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* --------section-search (form)------- */

.section-search {
    margin-bottom: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width : 850px){
        margin-bottom: 30px; 
    }
}
form{
    position: relative;
    /* width: 272px; */
    z-index: 1;
}
#search {
    height: 44px;
    width: 272px;
    flex-shrink: 0;
    background-color: #FFF;
    outline: none;
    border: none;
    border-radius: 8px;
    padding-left: 18px;
    /* padding-right: 50px; */
    font-family: 'Inter', sans-serif;
    font-weight: 400 ;
    font-size: 16px;
}
#search:placeholder-shown{
    font-family: 'Inter', sans-serif;
}
.btn-search {
    position: absolute;
    background-color: #C00;
    border-radius: 0px 8px 8px 0px;
    border: none;
    width: 44px;
    height: 44px;
    right: 0;
    @media screen and (max-width : 850px) {
}
}
.btn-search:hover {
    cursor: pointer;
    background-color: rgba(204, 0, 0, 0.561);
}



/* -section-results-movies. (realtif au form)- */
.section-results-movies{
    margin-bottom: 95px;
    @media screen and (max-width : 850px){
        display: flex;
        flex-direction: column;
    }

}
.text-result-search{
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 43px;
    @media screen and (max-width : 850px){
        font-size: 14px;
        padding-left: 0px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }
}

.section-results-movies .swiper {
    width: 92%;
    /* height: 100%; */
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1023px){
        width: 100vw;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 235px !important;
    height: 350px !important; */
    max-width: 100%;
    max-height: 100%;
    margin-right: 19px !important;

}
.swiper-slide img {
    /* display: block; */
    width: 100%;
    height: auto;
    object-fit: cover;

}

.fleche-swiper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.button-next{
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -175px;
}
.button-next:hover{
    transform: scale(115%);
}
.button-prev{
    position: absolute;
    left: 0;
    cursor: pointer;
    top: -175px;
}
.button-prev:hover{
    transform: scale(115%);
}






/* -------section-latest-releases-------- */
.section-latest-releases{
    margin-bottom: 95px ;
    @media screen and (max-width: 500px){
        margin-bottom: 41px ;
    }
}
.text-latest-releases{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 43px;
    @media screen and (max-width : 850px){
        font-size: 14px;
        padding-left: 0px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }
}
.section-latest-releases .swiper {
    width: 92%;
    height: 100%;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1023px){
        width: 100vw;
    }

}
/* .swiper-wrapper{
    width: 973px !important;

} */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px !important;
    height: 350px !important;
    margin-right: 19px !important;

}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fleche-swiper1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width: 1023px) {
        display: none;
    }
}
.button-next1{
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -175px;

}
.button-next1:hover{
    transform: scale(115%);
}
.button-prev1{
    position: absolute;
    left: 0;
    cursor: pointer;
    top: -175px;
}
.button-prev1:hover{
    transform: scale(115%);
}


/* -section-movies-genre- */
.section-movies-genre{

    margin-bottom: 110px ;
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width : 850px){
        margin: 0 5px;
    }
}
.moviesbygenre{
    margin-bottom: 45px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400 !important;
    text-align: center;
    @media screen and (max-width : 850px){
        margin-bottom: 30px;
        font-weight: 700 !important;
    }
}
.genre {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px ;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
    gap: 30px;
    @media screen and (max-width : 850px){
        gap: 30px;
        padding: 0 5px;
    }
    @media screen and (max-width : 500px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        row-gap: 15px;
    }
}
#genre-clicked {
    padding: 7px 10px;
    background-color: #C00;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.genre li{
    cursor: pointer;
}

.line {
    width: 615px;
    border: 1px solid white;
    margin-bottom: 30px;
    @media screen and (max-width : 614px){
        width: 90vw;
    }
}
.text-genre{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 43px;
}
.section-movies-genre .swiper {
    width: 92%;
    height: 100%;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1023px){
        width: 100vw;
    }
}
/* .swiper-wrapper{
    width: 973px !important;

} */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px !important;
    height: 350px !important;
    margin-right: 19px !important;
    @media screen and (max-width:500px){
        width: 170px !important ;
        height: 245px !important;
        margin-right: 8px !important;
    }

}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fleche-swiper2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.button-next2{
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -175px;
}
.button-next2:hover{
    transform: scale(115%);
}
.button-prev2{
    position: absolute;
    left: 0;
    cursor: pointer;
    top: -175px;
}
.button-prev2:hover{
    transform: scale(115%);
}




/* --------------- footer --------*/

footer {
    background-color: #141517;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width : 850px) {
        max-width: 100vw;
        position: relative;
        height: 100px;
    }
    
}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width : 850px){
        flex-direction: column;
    }

}
.footer-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.42px;
    font-weight: 700;
    @media screen and (max-width : 850px){
        display: none;
    }
}
.footer-menu li {
    border-radius: 8px;
    background: transparent;
    padding: 7px 10px;
    flex-shrink: 0;
}
.footer-menu li:hover{
    background: #C00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.copyright {
    color: #B8B8B8;
    font-family: Inria Sans;
    font-size: 14px;
    font-weight: 300;
    display: inline;
}


/* ----------Template / Pop Up Register--------*/
.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 79, 79, 0.719);
    @media screen and (max-width: 409px) {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}
.popup-register{
    top: 80px;
    left: 515px;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 610px;
    width: 410px;
    @media screen and (max-width: 389px) {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}
.contenu-popup-register{
    position: relative;
    @media screen and (max-width: 409px) {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cross {
    margin: 10px 0 40px 15px;
    @media screen and (max-width: 768px) {
    }
}
.cross:hover{
    cursor: pointer;
    opacity: 0.7;
}
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup h2, .login h2 {
    font-size: 24px;
    font-family: Inria Sans;
    font-weight: 700;
    letter-spacing: 0.72px;
}

.signup{
    padding: 13px 32px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #FFF;
    cursor: pointer;
}

.login  {
    padding: 13px 32px 13px 32px ;
    border-radius: 0px 8px 8px 0px;
    background-color: #C00;
    border: 1px solid #C00;
    cursor: pointer;
}

.form-group{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    height: 300px;
}

.form-login{
    display: flex;
    margin-bottom: 65px;
    flex-direction: column;
    justify-content: center;
}

#username {
    width: 288px;
    height: 44px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    outline: #C00;
    border: none;
    padding-left: 20px;
    margin-bottom: 25px;
}
#email {
    width: 288px;
    height: 44px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    outline: #C00;
    border: none;
    padding-left: 20px;
    margin-bottom: 25px;
}
#password1 {
    width: 288px;
    height: 44px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    outline: #C00;
    border: none;
    padding-left: 20px;
    margin-bottom: 25px;
}
#password2 {
    width: 288px;
    height: 44px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    outline: #C00;
    border: none;
    padding-left: 20px;
    margin-bottom: 25px;
}
.btn-register {
    position: absolute;
    width: 288px;
    height: 50px;
    background-color: #C00;
    border: none;
    border-radius: 8px;
    color: white;
    top: 465px;
font-family: Inria Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
}

.btn-register:hover{
    background-color: #ff3333;
    cursor: pointer;
}


/* ----------Template / Pop Up Login--------*/
.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(14, 14, 14, 0.821)
}
.popup-login{
    top: 80px;
    left: 515px;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 610px;
    width: 410px;
    @media screen and (max-width: 389px) {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}
.contenu-popup-register{
    position: relative;
    
}
.cross {
    z-index: 3;
    margin: 10px 0 40px 15px;
    @media screen and (min-width: 389px) and (max-width: 391px) {
        margin: 10px 0 40px 25px;
    }
}
.cross:hover{
    cursor: pointer;
    opacity: 0.7;
}

.btn-group1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-register h2, .login-register h2 {
    font-size: 24px;
    font-family: Inria Sans;
    font-weight: 700;
    letter-spacing: 0.72px;
}

.signup-register{
    padding: 13px 32px;
    border-radius: 8px 0px 0px 8px;
    
    background-color: #C00;
    border: 1px solid #C00;
    cursor: pointer;
}

.login-register {
    padding: 13px 32px 13px 32px ;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #FFF;
    cursor: pointer;
}
.form-login-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form-group1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.form-login #username {
    width: 288px;
    height: 44px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    outline: #C00;
    border: none;
    padding-left: 20px;
    margin-bottom: 25px;
}
.form-login #password {
    width: 288px;
    height: 44px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    outline: #C00;
    border: none;
    padding-left: 20px;
    margin-bottom: 25px;
}
.remember{
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 137px;
}
.remember input{
    border-radius: 0.25em;
    background: #FFF;
    border: 1px solid white;
    width: 18px;
    height: 18px;
    display: block;
}
.remember-me{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
}
.btn-forgot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-login {
    width: 288px;
    height: 50px;
    background-color: #C00;
    border: none;
    border-radius: 8px;
    color: white;
font-family: Inria Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
}
.btn-login:hover{
    background-color: #ff3333;
    cursor: pointer;
}
.forgot{
    font-size: 16px;
    font-family: Inter;
    color: #C00;
}
.forgot:hover{
    color: rgb(0, 77, 184);
    cursor: pointer;
}
.new-memeber{
    padding-top: 20px ;
    font-size: 16px;
    font-family: Inter;
    color: #FFF;
}
.new-memeber span {
    color: #C00;
}
.new-memeber span:hover {
    color: rgb(0, 77, 184);
    cursor: pointer;
}
.btnlogin-1{
    display: flex;
    justify-content: center;
}


.btn-forgot2{
    width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
    margin-top: 30px;
}


/* ----------Template / Pop Up Movie--------*/

.popup-movie{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.823);
    overflow:hidden;
    
}
.card-movie {
    top: 80px;
    left: 515px;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    width: 742px;
    height: 526px;
    border-radius: 5px;
    @media screen and (max-width: 742px ) {
        width: 100vw;
        border-radius: 0px;
    }
    @media screen and (max-width: 500px ){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        position: relative;
    }

}
.cross-movie {
    margin: 10px 0 45px 15px;
    @media screen and (max-width: 500px ){
        margin: 10px 0 10px 15px;
        position:absolute;
        top: 0;
        left: 5px;
    }
}
.cross-movie:hover{
    cursor: pointer;
    opacity: 0.7;
}
.content-card {
    display: flex;
    padding: 0 80px;
    gap: 60px;
    justify-content: center;
    @media screen and (min-width: 320px ) and (max-width: 450px ){
        flex-direction: column;
        justify-content: center;
        padding: 0 0px;
        align-items: center;

    }
}
.images-movie {
    top: 0;
    width: 235px;
    height: 350px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 500px ){
        width: 60%;
    height: auto;
    }

}
.images-movie img {
    @media screen and (max-width: 645px ){

    }
}

.card-text {
    width: 272px;
    @media screen and (max-width: 500px ){
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: relative;
        top: -45px;
    }
  
}
.movie-title {
    color: #C00;
    font-family: Inria Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.movie-year{
    color: #E9E9E9;
    font-family: Inria Sans;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.stars-opinion  {
display: flex;
margin-bottom: 10px;
}
.stars-opinion img {
    width: 21px;
    height: 21px;
}
.stars-opinion .opinion {
    color: #C00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
}
.genre-movie {
    color: #E9E9E9;
    font-family: Inria Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.synopsis{
    color: #FFF;
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
    letter-spacing: 0.48px;
    width: 278px;
    margin-bottom: 30px ;
    height: 220px;
    overflow-y: scroll;
    &::-webkit-scrollbar{display:none};
    

    @media screen and (max-width: 375px ){
    
    overflow-y: scroll;
    &::-webkit-scrollbar{display: none};
    width: 200px;
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
    height: 200px;
    margin-bottom: 0;
    }
    @media screen and (min-width: 376px ) and (max-width: 431px ){
    
        overflow-y: scroll;
        &::-webkit-scrollbar{display: none};
        width: 200px;
        font-size: 14px;
        margin-top: 0px;
        text-align: center;
        height: 300px;
        margin-bottom: 0;
        }
    
}

.cast-movie span {
    color: #C00;
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
.cast-movie{
    color: #FFF;
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
    letter-spacing: 0.48px;
    width: 278px;
}


/* --- template modal menu hamburger -----*/

.modal-menu{
    @media screen and (max-width : 1024px){
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.976);
    @media screen and (max-width : 1024px){
        overflow: hidden;
    }
}
}
.menu-hamburger{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 50px;
    width: 100vw;
}
.cross-hamburger {
    @media screen and (max-width : 1024px){
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline;
    font-size: 30px;
    padding: 5px 10px;
    border: 2px solid #C00;
    font-family: 'Inter', sans-serif;
    font-weight: 700;   
    color: #C00;
    }
}

.hamburger{
    cursor: pointer;
}

.menu-hamburger li{
    margin: 0;
}

.menu-hamburger li a:active{
    color: #C00;
    margin: 0;
}
.menu-hamburger li a:hover{
    color: #C00;
    margin: 0;
}


.swiper-hover{
    position: relative;
background-color: rgba(0, 0, 0, 0.806);
height: 100%;
width: 100%;


}
.film-poster-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 0;
    left: 82.5px;
    margin-top: 75px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    left: 0px;
    margin-top: 0px;
    z-index: -1;
    @media screen and (max-width: 1024px ){
        display: none;
    }
}

.film-poster-hover h1{ 
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.film-poster-hover h2{
    color: #B0B0B0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.film-poster-hover h3{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 40px;
}
.film-poster-hover img {
    width: 35px;
    height: 35px;
}
.film-poster-hover h4 {
    color: #C00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}

